/* Dashboard Component Styles */

/* Dashboard body container */
.ui-dashboard-body-container {
  width: 100%;
  height: calc(100vh - 80px); /* 100% of viewport height minus 80px header */
  overflow: auto;
  // display: flex;
  // flex-direction: column;
  padding: 0.25rem; /* p-1 */
  padding-right: 0; /* pr-0 */
  overflow-y: auto;
  background-color: var(--color-surface-muted); // Design system surface token
}

/* Admin Dashboard Layout - fills available space */
.ui-admin-dashboard-layout {
  display: flex;
  gap: 4px;
  width: 100%;
  height: 100%;
  min-height: 0; /* Allow flex children to shrink below content size */
  flex-grow: 1; /* Allow it to grow to fill parent */
}

.ui-admin-sidebar {
  width: 280px; /* Fixed width for sidebar */
  min-width: 240px; /* Ensure it doesn't shrink below this */
  height: 100%;
  flex-shrink: 0; /* Don't allow sidebar to shrink */
}

.ui-admin-content-area {
  flex: 1; /* Take remaining space */
  height: 100%;
  width: calc(100% - 240px);
  // min-width: 0; /* Allow it to shrink */
  background-color: #fff;
  overflow: auto;
  border-radius: var(--border-radius-xs);
}

/* Admin Content Area Main */
.ui-admin-content-area-main {
  width: 100%;
  height: 100%;
  padding: 1rem 1.5rem; 

}



/* Sidebar Item */
.ui-admin-sidebar-item {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 8px;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: .8rem;
  padding-left: 8px;
  cursor: pointer;
  position: relative;

  // border-left: 4px solid transparent;

  /* Add border transition */
  transition:
    background-color var(--p-transition-duration) var(--p-transition-timing),
    color var(--p-transition-duration) var(--p-transition-timing),
    border-color var(--p-transition-duration) var(--p-transition-timing),
    border-left-width var(--p-transition-duration) var(--p-transition-timing);

  padding-left: 14px !important;
  border-radius: var(--border-radius-xs);
}


.ui-admin-sidebar-item:hover {
  background-color: var(--p-blue-50); /* hover:text-[#3b82f6] */
}

/* Sidebar Item Icon */
.ui-admin-sidebar-item-icon {
  font-size: var(--p-font-size-md) !important; /* text-xl */
  margin-bottom: 0.25rem; /* Space between icon and text */
  // color: var(--p-surface-300);
}

/* Sidebar Item Text */
.ui-admin-sidebar-item-text {
  font-size: var(--p-font-size-sm); /* text-xs */
  // margin-top: 0.25rem; /* mt-1 */
  font-weight: var(--p-font-weight-medium); /* font-medium */
  // color: var(--p-surface-300);
}

/* Selected Item State */
.ui-admin-sidebar-item.selected,
.ui-admin-sidebar-item.selected-item {
  background-color: var(--p-blue-100) !important;
  color: var(--p-blue-700) !important;
  // border-left: 4px solid  var(--p-blue-700);
  border-right: none;
  border-top: none;
  border-bottom: none;
}