.ui-toggleswitch {
    @extend .p-toggleswitch;

    // --------------------------------------------------------------------------
    // TRACK — OFF state
    // --------------------------------------------------------------------------
    .p-toggleswitch .p-toggleswitch-slider {
        background: var(--toggle-track-bg) !important;
        border: 1px solid var(--toggle-track-border);
    }

    // --------------------------------------------------------------------------
    // HANDLE (thumb)
    // --------------------------------------------------------------------------
    .p-toggleswitch .p-toggleswitch-slider .p-toggleswitch-handle {
        background: var(--color-background) !important;
    }

    // --------------------------------------------------------------------------
    // CHECKED — ON state
    // --------------------------------------------------------------------------
    .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
        background: var(--color-primary) !important;
        // border-color: transparent;
    }

    // --------------------------------------------------------------------------
    // HOVER — OFF
    // --------------------------------------------------------------------------
    .p-toggleswitch:not(.p-disabled):hover .p-toggleswitch-slider {
        background: var(--toggle-track-bg-hover) !important;
        border-color: var(--color-border-emphasis);
    }

    // --------------------------------------------------------------------------
    // HOVER — ON
    // --------------------------------------------------------------------------
    .p-toggleswitch.p-toggleswitch-checked:not(.p-disabled):hover .p-toggleswitch-slider {
        background: var(--color-primary-hover) !important;
    }

}